openapi: 3.2.0
info:
  title: Kraken Account Import API
  version: v1
  description: APIs for importing accounts.
servers:
- url: https://api.edfgb-kraken.energy/v1/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: account_import
  x-title: Account Import
  description: APIs for importing accounts.
  x-documentation-order: 5
paths:
  /v1/data-import/account-import-process/create-or-update/:
    post:
      operationId: V1 Create Or Update Account Import Process
      description: As the name suggests, this endpoint stores the data in Kraken but does not create an account from the data. Staged account data can be updated as many times as you like before an account is created.
      summary: Use this endpoint to stage account data before creating an account.
      tags:
      - account_import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnergyAccount'
        required: true
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateAccountImportProcess'
              examples:
                SuccessfulImportProcessModification.:
                  value:
                    external_account_number: '1234'
                    import_supplier_code: TENTACLE_ENERGY
                  summary: Successful import process modification.
          description: If the payload is valid, **and the request is updating data for an account that has been staged previously**, then a `200 OK` response will be returned detailing the `external_account_number` and `import_supplier`.
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrUpdateAccountImportProcess'
              examples:
                SuccessfulImportProcessModification.:
                  value:
                    external_account_number: '1234'
                    import_supplier_code: TENTACLE_ENERGY
                  summary: Successful import process modification.
          description: If the payload is valid, **and the request is staging data for an account for the first time**, then a `201 Created` response will be returned detailing the `external_account_number` and `import_supplier`.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadCreateOrUpdateAccountImportProcess'
              examples:
                PostcodeFieldMissingFromBillingAddress:
                  value:
                    billing_address:
                      postcode:
                      - postcode field is required.
                  summary: Postcode field missing from billing address
                AccountProcessAlreadyImported.:
                  value:
                    external_account_number: EXTERNAL-1234
                    kraken_account_number: A-E8981832
                    non_field_errors:
                    - The account import process with the account number EXTERNAL-1234 has already been imported.
                  summary: Account process already imported.
          description: "\nIf account data fails to be staged, then the details of the validation errors will\nbe returned in the response. In this scenario, check that:\n- The payload is valid (refer to the field definitions and validation rules table).\n- The account has not been imported already, or marked to be skipped.\n- The migration for the `import_supplier` is still ongoing (if you receive an error\n  indicating it is paused or complete, get in touch with the Kraken team).\n"
      x-doc-alerts:
      - Before an account is staged, it is validated according to the same rules as the validate endpoint above. This is an extra safety check to make sure nothing has changed between creating the data and submitting it for staging in Kraken.
  /v1/data-import/account-import-process/process/:
    post:
      operationId: V1 Process Account Import Process
      description: The endpoint accepts a JSON payload that contains an object referencing existing staged account data. The `operations_team_name` that the account should be linked to should also be provided. An optional `dry_run` field is available to test the account creation process without actually creating the account. This is useful for testing the process to ensure that an account would be created successfully.
      summary: Use this endpoint to process staged account data into an account in Kraken.
      tags:
      - account_import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessAccountImportProcess'
        required: true
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessAccountImportProcessCreation'
              examples:
                SuccessfulAccountCreationFromAnExistingProcess.:
                  value:
                    external_account_number: '00001234'
                    kraken_account_number: A-E8981832
                    account_number: A-E8981832
                  summary: Successful account creation from an existing process.
          description: If the payload is valid and an account has been created, the newly created Kraken account number will be returned in the response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadProcessAccountImportProcess'
              examples:
                AccountProcessAlreadyImported.:
                  value:
                    external_account_number: EXTERNAL-1234
                    kraken_account_number: A-E8981832
                    non_field_errors:
                    - The account import process with the account number EXTERNAL-1234 has already been imported.
                  summary: Account process already imported.
                AccountCreationInDry-runMode.:
                  value:
                    detail: Account would successfully import. Rolled back due to Dry Run.
                    code: '400'
                  summary: Account creation in dry-run mode.
          description: '

            If there are validation errors, they will be detailed in the body of the response.

            To resolve these errors, refer to the field definitions and validation rules.


            If an account has already been imported then two additional fields will be present

            in the response: `external_account_number` and `kraken_account_number`.


            If the API request was run with the `dry_run` flag set to `true`, and the request

            would ordinarily have been successful, then the response will also be returned.

            '
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: There is an optional concurrency limit on the number of accounts that can be processed at once. If enabled, any requests to create an account that exceed this limit will be rejected. These requests should be retried once other ongoing accounts have finished processing.
      x-doc-alerts:
      - Before an account is created, it is validated according to the same rules as the validate endpoint above. This is an extra safety check to make sure nothing has changed between creating the data and submitting it for account creation in Kraken.
      - The referenced team must already exist in Kraken and the account data must already have been staged.
  /v1/data-import/account-transfer-status/{import_supplier_code}/{external_account_number}/:
    get:
      operationId: V1 Get Account Transfer Status
      description: Use this endpoint to find out the status of a single account import process.
      summary: Find out the status of a single account import process
      parameters:
      - in: path
        name: external_account_number
        schema:
          type: string
        description: The account number in the source system.
        required: true
      - in: path
        name: import_supplier_code
        schema:
          type: string
        description: The code of an existing Import Supplier.
        required: true
      tags:
      - account_import
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransferStatus'
              examples:
                FoundAccountTransferStatus:
                  value:
                    status: COMPLETED
                    account_number: A-12AB34CD
                    kraken_account_number: A-12AB34CD
                  summary: Found account transfer status
          description: If the account import process exists (whether an account has been created or not), the `status` and `kraken_account_number` will be returned in the body of the response. If an account has not yet been created from the import data, then the `kraken_account_number` will be an empty string.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNotFoundError'
          description: '

            If an account cannot be found for the given `import_supplier` and

            `external_account_number`, this response will be returned.


            To resolve the error, check that the account has been imported and that the

            `import_supplier` and `external_account_number` are correct.

            '
      x-doc-alerts: []
  /v1/data-import/validate-account/:
    post:
      operationId: V1 Validate Account
      description: Use this endpoint to validate account data before staging and creating an account.
      summary: Use this endpoint to validate account data before staging and creating an account.
      tags:
      - account_import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnergyAccount'
        required: true
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyAccount'
          description: If the payload is valid, the validated data will be returned in the body of the response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadValidateAccountRequest'
              examples:
                PostcodeFieldMissingFromBillingAddress:
                  value:
                    billing_address:
                      postcode:
                      - postcode field is required.
                  summary: Postcode field missing from billing address
                AccountProcessAlreadyImported.:
                  value:
                    external_account_number: EXTERNAL-1234
                    kraken_account_number: A-E8981832
                    non_field_errors:
                    - The account import process with the account number EXTERNAL-1234 has already been imported.
                  summary: Account process already imported.
          description: If there are validation errors, they will be detailed in the body of the response. To resolve these errors, refer to the field definitions and validation rules.
      x-doc-alerts: []
  /v2/data-import/accounts/:
    post:
      operationId: V2 Schedule Account Creation
      description: Use this endpoint to schedule the creation of an account in Kraken. It accepts a request containing the necessary information for account creation, validates the data, and creates an account migration task to be executed asynchronously.
      summary: Schedule the creation of an account in Kraken
      tags:
      - account_import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleAccountCreation'
            examples:
              ExamplePayload:
                value:
                  import_supplier: TENTACLE_ENERGY
                  external_account_number: EXTERNAL-1234
                  unknown_occupier: false
                  customers:
                  - given_name: Bob
                    family_name: Jabłoński
                    email: bob@jablonski.com
                    mobile: 07123456789
                    landline: '02072343456'
                    date_of_birth: '1989-01-11'
                    title: Mr
                    salutation: Hi
                    psr:
                    - elec_industry_code: '01'
                      effective_from: '2012-01-01'
                    - gas_industry_code: '01'
                      effective_from: '2012-01-01'
                    customer_preferences:
                      opted_into_sms: true
                      opted_into_recommended: true
                      opted_into_updates: true
                      opted_into_third_parties: true
                      opted_into_offers: true
                      is_user_psr_consent_obtained: true
                  billing_name: Robert Jabłoński
                  billing_address1: 123 Fake Street
                  billing_address2: ''
                  billing_address3: ''
                  billing_address4: ''
                  billing_address5: ''
                  billing_postcode: W1F 9DE
                  account_type: DOMESTIC
                  sales_channel: DIRECT
                  sales_subchannel: ''
                  supply_addresses:
                  - supply_address1: 123 Fake Street
                    supply_address2: ''
                    supply_address3: ''
                    supply_address4: ''
                    supply_address5: ''
                    supply_postcode: W1F 9DE
                    is_landlord: false
                    customer_at_supply_address_from_date: '2019-01-01'
                    meter_points:
                    - identifier: '1200060176720'
                      supply_type: ELECTRICITY
                      agreements:
                      - tariff_code: ELEC-1234-J
                        effective_from: '2019-08-01'
                      mpid: TENT
                      supply_start_date: '2019-01-01'
                      profile_class: 1
                      ssc: 0393
                      meters:
                      - meter_serial_number: Z16N389556
                        installed_on: '2001-01-01'
                        registers:
                        - register_id: '1'
                          tpr: '00001'
                          number_of_digits: 5
                        - register_id: X
                          tpr: '00043'
                          number_of_digits: 5
                          is_settlement: false
                        transfer_readings:
                        - register_id: '1'
                          reading_date: '2019-08-01'
                          reading_value: '1000.00'
                          reading_type: CUSTOMER
                        reading_history:
                        - register_id: '1'
                          reading_date: '2019-06-20'
                          reading_value: '980.00'
                          reading_type: CUSTOMER
                          billed: true
                        - register_id: '1'
                          reading_date: '2019-05-20'
                          reading_value: '960.00'
                          reading_type: ROUTINE
                          billed: true
                      et_in_progress: false
                      dr_in_progress: false
                      smart_refusal_interest:
                        type: NOT_INTERESTED
                        date: '2020-04-01'
                        refusal_reason: DO_NOT_OWN_HOME
                        source: EMAIL
                      eac_history:
                      - effective_from: '2019-10-01'
                        tpr: '00001'
                        consumption: '1500'
                        source: D0019
                      - effective_from: '2019-09-01'
                        tpr: '00001'
                        consumption: '1300'
                        source: D0019
                    - identifier: '9353824109'
                      supply_type: GAS
                      agreements:
                      - tariff_code: GAS-1234-J
                        effective_from: '2019-08-01'
                      mpid: TEN
                      shipper_mpid: TCL
                      supply_start_date: '2019-04-10'
                      meters:
                      - meter_serial_number: 54BV
                        installed_on: '2002-01-01'
                        gas_number_of_digits: 5
                        smart_type: SMETS1
                        transfer_readings:
                        - reading_date: '2019-08-01'
                          reading_value: '500.00'
                          reading_type: CUSTOMER
                        is_prepay: true
                        prepay_details:
                          debt_balance: '21.3'
                          credit_balance: '12.3'
                          transfer_vend_read_date: '2019-07-31'
                          gas_debt_repayment_options:
                            weekly_min: '3.00'
                            weekly_max: '3.50'
                      et_in_progress: false
                      dr_in_progress: false
                      aq_history:
                      - effective_from: '2019-01-01'
                        consumption: '8720'
                      - effective_from: '2018-01-01'
                        effective_to: '2018-12-31'
                        consumption: '8712'
                      - effective_from: '2017-01-01'
                        effective_to: '2017-12-31'
                        consumption: '8716'
                    property_administrators:
                    - given_name: Groundskeeper
                      family_name: Willie
                      email: groundskeeper@willie.com
                      mobile: '07712354321'
                      landline: '+442076543210'
                      date_of_birth: '1955-02-23'
                      title: Mr
                      salutation: Hi
                  transfer_balance: '30.00'
                  ledgers:
                  - current_statement_transactions:
                    - transaction_id: '1'
                      transaction_date: '2019-08-04'
                      amount: '10.00'
                      type: REPAYMENT
                      reason: FULL_CREDIT_REFUND
                      payment_type: ''
                    - transaction_id: '2'
                      transaction_date: '2019-08-05'
                      amount: '20.00'
                      type: PAYMENT
                      reason: ACCOUNT_CHARGE_PAYMENT
                    historical_statement_transactions:
                    - transaction_id: '3'
                      transaction_date: '2018-08-05'
                      amount: '10.00'
                      type: PAYMENT
                      reason: ACCOUNT_CHARGE_PAYMENT
                    - transaction_id: '4'
                      transaction_date: '2018-07-05'
                      amount: '10.00'
                      type: CREDIT
                      reason: DIRECT_DEBIT_DISCOUNT
                    last_statement_closing_date: '2019-07-31'
                    last_statement_balance: '20.00'
                    last_statement_issue_date: '2019-08-01'
                    ledger_balance: '30.00'
                  last_billed_to_date: '2019-08-01'
                  payment_schedules:
                  - amount: '6.00'
                    day_of_month: 10
                    frequency: MONTHLY
                    means: DD
                    start_date: '2018-01-01'
                    is_debt_repayment_plan: true
                    debt_repayment_element: '2.00'
                    debt_repayment_end_date: '2020-03-26'
                  - amount: '60.00'
                    day_of_month: 2
                    frequency: MONTHLY
                    means: DD
                    start_date: '2018-01-01'
                  references:
                  - namespace: tentacle-energy.allpay-client-reference-number
                    value: '1234567890'
                  notes:
                  - created_at: '2018-10-10T10:20:00Z'
                    body: This is a note
                    document_paths:
                    - document_path: /notes/1234/attachment.jpg
                  statements:
                  - bill_period_from_date: '2019-06-01'
                    bill_period_to_date: '2019-07-01'
                    statement_path: /EXTERNAL-1234/2019-06-01-to-2019-07-01.pdf
                    statement_id: '54321'
                  - bill_period_from_date: '2019-07-01'
                    bill_period_to_date: '2019-08-01'
                    statement_path: /EXTERNAL-1234/2019-07-01-to-2019-08-01.pdf
                    statement_id: '12345'
                  warm_home_discount:
                  - tax_year: 2017/18
                    account_type: CREDIT
                    group: CORE
                  dunning_path:
                    path_name: standard_domestic
                    start_date: '2020-03-26'
                  debts:
                  - agency_name: Debt R Us
                    start_date: '2019-03-26'
                    is_insolvent: false
                    aged_debt:
                    - debt_amount: '123.00'
                      due_date: '2020-12-01'
                  last_payment_review_date: '2019-06-01'
                  next_bill_due_date: '2019-09-20'
                  smart_read_frequency: HALF_HOURLY
                  smart_read_cycle_day: 10
                  communication_preference: ONLINE
                  document_accessibility: LARGE_PRINT
                  account_campaigns:
                  - slug: super_account
                    campaign_note: Campaign note
                  metadata:
                  - key: metadata_key
                    value:
                      some_data: some_value
                summary: Example payload
        required: true
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '201':
          description: The payload has been successfully scheduled.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRFError'
              examples:
                ScheduleAccountCreationErrorResponse(ValidationError):
                  value:
                    code: import_process_failed_validation
                    detail: Import process validation failed during account creation. Please validate the import process to get full details of the validation errors.
                    domain: import_process
                  summary: Schedule account creation error response (Validation Error)
                  description: If there are validation errors, a 400 Bad Request response will be returned detailing the errors. To resolve these errors, refer to the field definitions and validation rules.
                ScheduleAccountCreationErrorResponse(AlreadyImportedAccount):
                  value:
                    non_field_errors:
                      detail: The account import process with the account number 1234567890 has already been imported.
                      code: account_import_process_already_imported
                    account_id: A-12345678
                  summary: Schedule account creation error response (Already Imported Account)
                  description: If an account has already been imported, a 400 Bad Request response will be returned with account_id representing existing Kraken account number.
          description: Validation errors occurred while processing the request.
      x-doc-alerts:
      - Before an account is created, it is validated according to the same rules as the validate endpoint above. This is an extra safety check to make sure nothing has changed between creating the data and submitting it for account creation in Kraken.
  /v2/data-import/accounts/{import_supplier_code}/{external_identifier}/:
    get:
      operationId: V2 Account Import Status
      description: Use this endpoint to retrieve the current status of an account import.
      summary: Return the status of an account import process
      parameters:
      - in: path
        name: external_identifier
        schema:
          type: string
        required: true
      - in: path
        name: import_supplier_code
        schema:
          type: string
        required: true
      tags:
      - account_import
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStatusResponse'
              examples:
                200OK-NoErrorInProcessing:
                  value:
                    status: CANCELLED | DRY_RUN_SUCCEEDED | IN_PROGRESS | PENDING | PROCESSED
                    kraken_identifier: null
                    created_at: '2025-10-07T09:00:21.179194+02:00'
                    modified_at: '2025-10-07T09:06:38.078396+02:00'
                    latest_event:
                      event: EVENT_ACCOUNT_IMPORT_PROCESS_CREATED
                      occurred_at: '2025-10-07T09:00:21.179194+02:00'
                      data: null
                    latest_error: null
                  summary: 200 OK - No error in processing
                  description: If the account import process exists, a <code>200 OK</code> response will be returned, detailing the <code>status</code>.
                200OK-ImportProcessIsProcessed:
                  value:
                    status: PROCESSED
                    kraken_identifier: INTERNAL-KRAKEN-IDENTIFIER
                    created_at: '2025-10-07T09:00:21.179194+02:00'
                    modified_at: '2025-10-07T09:06:38.078396+02:00'
                    latest_event:
                      event: EVENT_ACCOUNT_IMPORT_PROCESS_PROCESSED
                      occurred_at: '2025-10-07T09:06:38.078396+02:00'
                      data: null
                    latest_error: null
                  summary: 200 OK - Import process is processed
                  description: 'For example when the import process is processed we will have an internal kraken id:'
                200OK-ErrorInProcessing:
                  value:
                    status: ERRORED | DRY_RUN_ERRORED
                    kraken_identifier: null
                    created_at: '2025-10-07T09:00:21.179194+02:00'
                    modified_at: '2025-10-07T09:06:38.078396+02:00'
                    latest_event:
                      event: EVENT_ACCOUNT_IMPORT_PROCESS_ERRORED
                      occurred_at: '2025-10-07T09:06:38.078396+02:00'
                      data:
                        code: some_error_code
                        detail: A detailed error message
                        domain: import_process
                    latest_error:
                      code: some_error_code
                      detail: A detailed error message
                      domain: import_process
                  summary: 200 OK - Error in processing
                  description: 'For example when there is an error in processing:'
          description: The status of the account import.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                404NotFound:
                  value:
                    detail: The requested resource was not found.
                    code: not_found
                  summary: 404 Not Found
                  description: If the account import process does not exist, a 404 Not Found response will be returned.
          description: Import supplier code or external identifier not found.
      x-doc-alerts: []
  /v2/data-import/accounts/validate/:
    post:
      operationId: V2 Validate Account
      description: Use this endpoint to validate the payload for creating an account in Kraken. It accepts a request containing the necessary information for account creation but only performs the validation of that data. Nothing will be created in Kraken through this endpoint.
      summary: Validate the payload for creating an account in Kraken
      tags:
      - account_import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAccount'
            examples:
              ExamplePayload:
                value:
                  import_supplier: TENTACLE_ENERGY
                  external_account_number: EXTERNAL-1234
                  unknown_occupier: false
                  customers:
                  - given_name: Bob
                    family_name: Jabłoński
                    email: bob@jablonski.com
                    mobile: 07123456789
                    landline: '02072343456'
                    date_of_birth: '1989-01-11'
                    title: Mr
                    salutation: Hi
                    psr:
                    - elec_industry_code: '01'
                      effective_from: '2012-01-01'
                    - gas_industry_code: '01'
                      effective_from: '2012-01-01'
                    customer_preferences:
                      opted_into_sms: true
                      opted_into_recommended: true
                      opted_into_updates: true
                      opted_into_third_parties: true
                      opted_into_offers: true
                      is_user_psr_consent_obtained: true
                  billing_name: Robert Jabłoński
                  billing_address1: 123 Fake Street
                  billing_address2: ''
                  billing_address3: ''
                  billing_address4: ''
                  billing_address5: ''
                  billing_postcode: W1F 9DE
                  account_type: DOMESTIC
                  sales_channel: DIRECT
                  sales_subchannel: ''
                  supply_addresses:
                  - supply_address1: 123 Fake Street
                    supply_address2: ''
                    supply_address3: ''
                    supply_address4: ''
                    supply_address5: ''
                    supply_postcode: W1F 9DE
                    is_landlord: false
                    customer_at_supply_address_from_date: '2019-01-01'
                    meter_points:
                    - identifier: '1200060176720'
                      supply_type: ELECTRICITY
                      agreements:
                      - tariff_code: ELEC-1234-J
                        effective_from: '2019-08-01'
                      mpid: TENT
                      supply_start_date: '2019-01-01'
                      profile_class: 1
                      ssc: 0393
                      meters:
                      - meter_serial_number: Z16N389556
                        installed_on: '2001-01-01'
                        registers:
                        - register_id: '1'
                          tpr: '00001'
                          number_of_digits: 5
                        - register_id: X
                          tpr: '00043'
                          number_of_digits: 5
                          is_settlement: false
                        transfer_readings:
                        - register_id: '1'
                          reading_date: '2019-08-01'
                          reading_value: '1000.00'
                          reading_type: CUSTOMER
                        reading_history:
                        - register_id: '1'
                          reading_date: '2019-06-20'
                          reading_value: '980.00'
                          reading_type: CUSTOMER
                          billed: true
                        - register_id: '1'
                          reading_date: '2019-05-20'
                          reading_value: '960.00'
                          reading_type: ROUTINE
                          billed: true
                      et_in_progress: false
                      dr_in_progress: false
                      smart_refusal_interest:
                        type: NOT_INTERESTED
                        date: '2020-04-01'
                        refusal_reason: DO_NOT_OWN_HOME
                        source: EMAIL
                      eac_history:
                      - effective_from: '2019-10-01'
                        tpr: '00001'
                        consumption: '1500'
                        source: D0019
                      - effective_from: '2019-09-01'
                        tpr: '00001'
                        consumption: '1300'
                        source: D0019
                    - identifier: '9353824109'
                      supply_type: GAS
                      agreements:
                      - tariff_code: GAS-1234-J
                        effective_from: '2019-08-01'
                      mpid: TEN
                      shipper_mpid: TCL
                      supply_start_date: '2019-04-10'
                      meters:
                      - meter_serial_number: 54BV
                        installed_on: '2002-01-01'
                        gas_number_of_digits: 5
                        smart_type: SMETS1
                        transfer_readings:
                        - reading_date: '2019-08-01'
                          reading_value: '500.00'
                          reading_type: CUSTOMER
                        is_prepay: true
                        prepay_details:
                          debt_balance: '21.3'
                          credit_balance: '12.3'
                          transfer_vend_read_date: '2019-07-31'
                          gas_debt_repayment_options:
                            weekly_min: '3.00'
                            weekly_max: '3.50'
                      et_in_progress: false
                      dr_in_progress: false
                      aq_history:
                      - effective_from: '2019-01-01'
                        consumption: '8720'
                      - effective_from: '2018-01-01'
                        effective_to: '2018-12-31'
                        consumption: '8712'
                      - effective_from: '2017-01-01'
                        effective_to: '2017-12-31'
                        consumption: '8716'
                    property_administrators:
                    - given_name: Groundskeeper
                      family_name: Willie
                      email: groundskeeper@willie.com
                      mobile: '07712354321'
                      landline: '+442076543210'
                      date_of_birth: '1955-02-23'
                      title: Mr
                      salutation: Hi
                  transfer_balance: '30.00'
                  ledgers:
                  - current_statement_transactions:
                    - transaction_id: '1'
                      transaction_date: '2019-08-04'
                      amount: '10.00'
                      type: REPAYMENT
                      reason: FULL_CREDIT_REFUND
                      payment_type: ''
                    - transaction_id: '2'
                      transaction_date: '2019-08-05'
                      amount: '20.00'
                      type: PAYMENT
                      reason: ACCOUNT_CHARGE_PAYMENT
                    historical_statement_transactions:
                    - transaction_id: '3'
                      transaction_date: '2018-08-05'
                      amount: '10.00'
                      type: PAYMENT
                      reason: ACCOUNT_CHARGE_PAYMENT
                    - transaction_id: '4'
                      transaction_date: '2018-07-05'
                      amount: '10.00'
                      type: CREDIT
                      reason: DIRECT_DEBIT_DISCOUNT
                    last_statement_closing_date: '2019-07-31'
                    last_statement_balance: '20.00'
                    last_statement_issue_date: '2019-08-01'
                    ledger_balance: '30.00'
                  last_billed_to_date: '2019-08-01'
                  payment_schedules:
                  - amount: '6.00'
                    day_of_month: 10
                    frequency: MONTHLY
                    means: DD
                    start_date: '2018-01-01'
                    is_debt_repayment_plan: true
                    debt_repayment_element: '2.00'
                    debt_repayment_end_date: '2020-03-26'
                  - amount: '60.00'
                    day_of_month: 2
                    frequency: MONTHLY
                    means: DD
                    start_date: '2018-01-01'
                  references:
                  - namespace: tentacle-energy.allpay-client-reference-number
                    value: '1234567890'
                  notes:
                  - created_at: '2018-10-10T10:20:00Z'
                    body: This is a note
                    document_paths:
                    - document_path: /notes/1234/attachment.jpg
                  statements:
                  - bill_period_from_date: '2019-06-01'
                    bill_period_to_date: '2019-07-01'
                    statement_path: /EXTERNAL-1234/2019-06-01-to-2019-07-01.pdf
                    statement_id: '54321'
                  - bill_period_from_date: '2019-07-01'
                    bill_period_to_date: '2019-08-01'
                    statement_path: /EXTERNAL-1234/2019-07-01-to-2019-08-01.pdf
                    statement_id: '12345'
                  warm_home_discount:
                  - tax_year: 2017/18
                    account_type: CREDIT
                    group: CORE
                  dunning_path:
                    path_name: standard_domestic
                    start_date: '2020-03-26'
                  debts:
                  - agency_name: Debt R Us
                    start_date: '2019-03-26'
                    is_insolvent: false
                    aged_debt:
                    - debt_amount: '123.00'
                      due_date: '2020-12-01'
                  last_payment_review_date: '2019-06-01'
                  next_bill_due_date: '2019-09-20'
                  smart_read_frequency: HALF_HOURLY
                  smart_read_cycle_day: 10
                  communication_preference: ONLINE
                  document_accessibility: LARGE_PRINT
                  account_campaigns:
                  - slug: super_account
                    campaign_note: Campaign note
                  metadata:
                  - key: metadata_key
                    value:
                      some_data: some_value
                summary: Example payload
        required: true
      security:
      - DataImportViewerAPIKeyAuthentication: []
      - DRFKrakenTokenAuthentication: []
      responses:
        '200':
          description: The payload was validated successfully.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardizedValidationErrorResponse'
              examples:
                AccountValidationErrorResponse:
                  value:
                    customers:
                      '0':
                        landline:
                        - abcde is not a valid phone number
                  summary: Account validation error response
                  description: If there are validation errors a 400 Bad Request response will be returned detailing the errors. To resolve these errors, refer to the field definitions and validation rules.
          description: Validation errors occurred while processing the request.
      x-doc-alerts: []
components:
  schemas:
    LatestError:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: <p>The error code identifying the type of error that occurred.</p>
        detail:
          type:
          - string
          - 'null'
          description: <p>A detailed description of the error that occurred.</p>
        domain:
          type:
          - string
          - 'null'
          description: <p>The domain or context in which the error occurred.</p>
    EnergyTransaction:
      oneOf:
      - $ref: '#/components/schemas/EnergyCredit'
      - $ref: '#/components/schemas/EnergyCharge'
      - $ref: '#/components/schemas/EnergyPayment'
      - $ref: '#/components/schemas/EnergyRepayment'
      - $ref: '#/components/schemas/EnergySupplyCharge'
      discriminator:
        propertyName: type
        mapping:
          CREDIT: '#/components/schemas/EnergyCredit'
          CHARGE: '#/components/schemas/EnergyCharge'
          PAYMENT: '#/components/schemas/EnergyPayment'
          REPAYMENT: '#/components/schemas/EnergyRepayment'
          SUPPLY_CHARGE: '#/components/schemas/EnergySupplyCharge'
    Gbr-gas.meter-point-grid-supply-point-equivalentCharacteristic:
      type: object
      properties:
        code:
          enum:
          - gbr-gas.meter-point-grid-supply-point-equivalent
          type: string
          x-spec-enum-id: 4fdb32aea30162c9
          description: <p>The code for the product's characteristic.</p>
          x-enum-descriptions:
            gbr-gas.meter-point-grid-supply-point-equivalent: gbr-gas.meter-point-grid-supply-point-equivalent
        value:
          enum:
          - _E
          - _H
          - _D
          - _M
          - _A
          - _F
          - _K
          - _P
          - _C
          - _L
          - _N
          - _B
          - _J
          - _G
          type: string
          x-spec-enum-id: d048de00415a8431
          description: <p>The value for the product's characteristic.</p>
          x-enum-descriptions:
            _E: _E
            _H: _H
            _D: _D
            _M: _M
            _A: _A
            _F: _F
            _K: _K
            _P: _P
            _C: _C
            _L: _L
            _N: _N
            _B: _B
            _J: _J
            _G: _G
      required:
      - code
      - value
    MeterPoint:
      oneOf:
      - $ref: '#/components/schemas/ElectricityMeterPoint'
      - $ref: '#/components/schemas/GasMeterPoint'
      discriminator:
        propertyName: supply_type
        mapping:
          ELECTRICITY: '#/components/schemas/ElectricityMeterPoint'
          GAS: '#/components/schemas/GasMeterPoint'
    CreateOrUpdateAccountImportProcess:
      type: object
      properties:
        external_account_number:
          type: string
          description: <p>The account number in the source system. This, along with the <code>import_supplier</code>, will be used to find the account in Kraken.</p>
          maxLength: 128
        import_supplier_code:
          type: string
          description: <p>The import supplier code that the account was imported on to. This, along with the <code>external_account_number</code>, will be used to find the account in Kraken.</p>
          maxLength: 32
      required:
      - external_account_number
      - import_supplier_code
    ProcessAccountImportProcessCreation:
      type: object
      properties:
        account_number:
          type: string
          description: Account number
          deprecated: true
          maxLength: 128
        external_account_number:
          type: string
          description: <p>The account number in the source system. This, along with the <code>import_supplier</code>, will be used to find the account in Kraken.</p>
          maxLength: 128
        kraken_account_number:
          type: string
          description: Account number
          maxLength: 128
      required:
      - external_account_number
    PaymentPromise:
      type: object
      properties:
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: <p>The amount of the promised payment.</p>
        ledger_code:
          type: string
          description: <p>The Kraken ledger code that this payment promise should be created on.</p>
        payment_date:
          type: string
          format: date
          description: <p>The payment date of the promised payment.</p>
      required:
      - amount
      - payment_date
    ElectricityCapacityValue:
      type: object
      properties:
        effective_from_date:
          type: string
          format: date
          description: <p>The date the capacity value is effective from.</p>
        effective_to_date:
          type: string
          format: date
          description: <p>The date the capacity value is effective to (inclusive).</p>
        value:
          type: string
          format: decimal
          pattern: ^-?\d{0,5}(?:\.\d{0,2})?$
          description: <p>The capacity value in kVA.</p>
      required:
      - effective_from_date
      - value
      x-validators:
      - name: Validate <code>⁨effective_to_date⁩</code> not before <code>⁨effective_from_date⁩</code>
        description: Validates that <code>⁨effective_to_date⁩</code>, if given, is on or later than <code>⁨effective_from_date⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
    AgreementIntermediaryDetails:
      type: object
      properties:
        external_id:
          type:
          - string
          - 'null'
          description: <p>An external identifier for the intermediary relationship. This can be used to store a reference to this relationship in an external system (e.g., the source system during migration).</p>
          maxLength: 255
        portfolio_number:
          type: string
          description: <p>The number of the intermediary portfolio to link this agreement to. The portfolio must exist before creating the agreement.</p>
          x-validators:
          - name: Validate the portfolio number
            description: Validate that the portfolio number matches the expected format (P- followed by 8 uppercase alphanumeric characters).
            possible_errors:
            - invalid_portfolio_number
      required:
      - portfolio_number
    GasAgreement:
      type: object
      properties:
        agreed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: <p>The datetime the agreement was agreed at.</p>
        bespoke_tariff_rates:
          type: array
          items:
            $ref: '#/components/schemas/GasBespokeGasTariffRate'
          description: <p>List of bespoke tariff rates applicable to this agreement. Usually only relevant for business accounts.</p>
          x-validators:
          - name: Validate that all bespoke tariff rates are unique
            description: Ensure that there are no duplicate bespoke tariff rates provided.
            possible_errors:
            - duplicate_bespoke_rates
        business_contract_identifier:
          type:
          - string
          - 'null'
          description: <p>The identifier of the business contract this agreement should be linked to.</p>
        characteristics:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductCharacteristic'
          description: <p>Characteristics of the agreed product that the customer has chosen.</p>
          x-validators:
          - name: Validate that each child has unique values for the <code>⁨code⁩</code> field
            description: Validate that each child has unique values for the <code>⁨code⁩</code> field.
            possible_errors:
            - children_with_duplicate_values
        effective_from:
          type: string
          format: date
          description: <p>The date from which the agreement is effective (inclusive), i.e. the agreement starts on the midnight of this date, such that this date becomes the first day covered by this agreement.</p>
        effective_to:
          type:
          - string
          - 'null'
          format: date
          description: <p>The date to which the agreement is effective (exclusive), i.e. the agreement will end on the midnight of this date, such that the previous day is the last day covered by this agreement.</p>
        intermediary:
          allOf:
          - $ref: '#/components/schemas/AgreementIntermediaryDetails'
          description: <p>Details about the intermediary relationship for this agreement. When provided, an intermediary link will be created between the agreement and the portfolio, establishing a business intermediary relationship.</p>
        rate_overrides:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RateOverride'
          description: <p>Agreement rate overrides.</p>
        rates_agreed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: <p>The datetime the rates were agreed at.</p>
        tariff_code:
          type: string
          description: <p>The code for the agreement tariff. Must match an existing tariff code of an active product.</p>
          x-validators:
          - name: Validate gas tariff exists
            description: Validate that the provided tariff code has an existing gas tariff in Kraken.
            possible_errors:
            - tariff_code_not_found
      required:
      - effective_from
      - tariff_code
      x-validators:
      - name: Validate <code>⁨effective_to⁩</code> not before <code>⁨effective_from⁩</code>
        description: Validates that <code>⁨effective_to⁩</code>, if given, is on or later than <code>⁨effective_from⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
      - name: Validate that the rate bands given in the rate overrides are valid for the product code
        description: Validate that the rate bands given in the rate overrides exist for the agreement's product.
        possible_errors:
        - invalid_period
        - rate_band_does_not_exist
      - name: Validate that either <code>register_id</code> or <code>rate_type</code> are provided for bespoke tariff rate registers
        description: Ensure that all registers associated with a bespoke tariff rate have got at least a <code>register_id</code> or a <code>rate_type</code> set.
        possible_errors:
        - no_register_id_or_rate_type_provided_for_bespoke_elec_rate
      - name: Validate effective to provided for end dated gas product
        description: Validate that the effective to date is provided for an gas product that has an end date.
        possible_errors:
        - open_ended_agreement_for_end_dated_product
    EnergySmartRefusalInterest:
      type: object
      properties:
        date:
          type: string
          format: date
          description: <p>The date the customer informed of interest or refusal of a smart meter installation.</p>
        refusal_reason:
          enum:
          - DO_NOT_OWN_HOME
          - TECHNOLOGY_SCEPTICAL
          - WORRIED_SECURITY
          - WORRIED_HEALTH_SAFETY
          - NEGATIVE_PUBLICITY
          - WORRIED_ABOUT_USAGE_COST
          - ALREADY_HAS_SMART_METER
          - HOUSE_MOVE_IMMINENT
          - SWITCH_IMMINENT
          - MORE_INFORMATION_REQUIRED
          - IS_LANDLORD
          - CANNOT_SEE_BENEFIT
          - WAIT_UNTIL_IT_IS_COMPULSORY
          - VULNERABILITY
          - WORRIED_ABOUT_SMART_METERS
          - WORRIED_ABOUT_INSTALLATION
          - PROPERTY_NOT_OCCUPIED
          - CANNOT_ATTEND_APPOINTMENT
          type: string
          x-spec-enum-id: 49cfaa7d86024f46
          description: <p>The reason why a customer refused to have a smart meter installed, if applicable.</p>
          x-enum-descriptions:
            DO_NOT_OWN_HOME: Doesn't own home
            TECHNOLOGY_SCEPTICAL: Sceptical of technology
            WORRIED_SECURITY: Worried about security
            WORRIED_HEALTH_SAFETY: Worried about health & safety
            NEGATIVE_PUBLICITY: Negative publicity about smart meters
            WORRIED_ABOUT_USAGE_COST: Worried about energy usage cost increasing
            ALREADY_HAS_SMART_METER: Already has or is about to have a smart meter installed
            HOUSE_MOVE_IMMINENT: About to move house
            SWITCH_IMMINENT: About to switch supplier
            MORE_INFORMATION_REQUIRED: More information about smart meters required
            IS_LANDLORD: Is a landlord
            CANNOT_SEE_BENEFIT: Cannot see benefit
            WAIT_UNTIL_IT_IS_COMPULSORY: Wants to wait until it's compulsory
            VULNERABILITY: Has vulnerability
            WORRIED_ABOUT_SMART_METERS: Worried about smart meters
            WORRIED_ABOUT_INSTALLATION: Worried about installation
            PROPERTY_NOT_OCCUPIED: Property rarely or never occupied
            CANNOT_ATTEND_APPOINTMENT: Cannot attend appointment
        source:
          enum:
          - WEBSITE
          - EMAIL
          - OTHER
          type: string
          x-spec-enum-id: 446c7a215c19e2c2
          description: <p>How the customer got in touch about their interest/refusal.</p>
          x-enum-descriptions:
            WEBSITE: Website
            EMAIL: Email
            OTHER: Other
        type:
          enum:
          - NOT_INTERESTED
          - INTERESTED
          - NOT_AT_THE_MOMENT
          type: string
          x-spec-enum-id: 1eb9432d579db1e2
          description: <p>Whether the customer indicated interest or refusal towards a smart meter installation.</p>
          x-enum-descriptions:
            NOT_INTERESTED: Not interested
            INTERESTED: Interested
            NOT_AT_THE_MOMENT: Not at the moment
      required:
      - date
      - type
      x-validators:
      - name: Validate smart refusal reason
        description: Validate that the smart <code>refusal_reason</code> is only provided if the interest type is not INTERESTED.
        possible_errors:
        - smart_refusal_reason_given_for_interest
    AccountConsent:
      type: object
      properties:
        description:
          type: string
          description: <p>A description of any additional details about the obtaining of this consent.</p>
          maxLength: 255
        signed_at:
          type: string
          format: date-time
          description: <p>The date and time the consent was signed. Defaults to now if not provided.</p>
          x-validators:
          - name: Validate <code>⁨signed_at⁩</code> not in the future
            description: Validates that the given <code>⁨signed_at⁩</code> is not in the future.
            possible_errors:
            - date_in_future
        type:
          x-spec-enum-id: 4f53cda18c2baa0c
          description: <p>The consent type.</p>
          x-comment: Choices for this field are dynamic, once appropriate values have been configured they will be rendered here.
        value:
          enum:
          - ACCEPTED
          - REJECTED
          - UNKNOWN
          - PENDING
          type: string
          x-spec-enum-id: f72b73bd6917b6e4
          description: <p>The value for this consent type.</p>
          x-enum-descriptions:
            ACCEPTED: ACCEPTED
            REJECTED: REJECTED
            UNKNOWN: UNKNOWN
            PENDING: PENDING
      required:
      - type
      - value
    PaymentPlanPayment:
      type: object
      properties:
        amount_components:
          type: array
          items:
            $ref: '#/components/schemas/PaymentPlanPaymentAmountComponent'
          description: <p> The components of the payment that form the total amount. Can be an empty array if the payment is not broken into components. The amounts must sum up to the <code>total_amount</code>.</p>
        payment_date:
          type: string
          format: date
          description: <p>The date the payment should be made.</p>
        total_amount:
          type: integer
          minimum: 0
          description: <p>The total amount of the payment.</p>
      required:
      - amount_components
      - payment_date
      - total_amount
      x-validators:
      - name: Validate that component amounts sum up to the total
        description: Validate that the component amounts of a payment plan payment sum up to the total amount of the payment.
        possible_errors:
        - payment_plan_payment_components_do_not_sum_to_total
    EnergyReading:
      type: object
      properties:
        reading_date:
          type: string
          format: date
          description: <p>The date the reading was taken from the meter.</p>
        reading_value:
          type: string
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,10})?$
          description: <p>The reading in kWh, with up to 2 decimals.</p>
      required:
      - reading_date
      - reading_value
    ProcessAccountImportProcess:
      type: object
      properties:
        dry_run:
          type: boolean
          default: false
          description: Whether to run the process in dry-run mode. Running in dry-run mode will not create any accounts.
        external_account_number:
          type: string
          description: The account number on the import suppliers system.
        import_supplier_code:
          enum:
          - EDF_SHELL_ACCOUNT
          - EDF _DEENERGISED
          - EDF_SME_PAYG
          - EDF_PAYG
          - EDF_TERMED
          - EDF_FIT
          - EDF_AUTO_TOPUP
          - EDF_DEENERGISED
          - EDF_NEW_CONNECTIONS
          - EDFSME
          - EDFSME_MULTISITE
          - EDF_SMEPAYG
          - OPUS
          - EDF
          - UTILITA
          type: string
          x-spec-enum-id: 1106bbca05c54188
          description: The code of an existing ImportSupplier in the database.
          x-enum-descriptions:
            EDF_SHELL_ACCOUNT: EDF Shell Account
            EDF _DEENERGISED: EDF Deenergised
            EDF_SME_PAYG: EDF_SME_PAYG
            EDF_PAYG: EDF PAYG
            EDF_TERMED: EDF_TERMED
            EDF_FIT: EDF FIT
            EDF_AUTO_TOPUP: EDF Auto Top Up
            EDF_DEENERGISED: EDF Deenergised
            EDF_NEW_CONNECTIONS: EDF New Connections
            EDFSME: EDF Production SME account import
            EDFSME_MULTISITE: EDF SME Multi-site
            EDF_SMEPAYG: EDF_SMEPAYG
            OPUS: Opus Energy
            EDF: EDF Production Import
            UTILITA: UTILITA
        operations_team_name:
          type: string
          description: The operations team the account portfolio should be assigned to.
          x-validators:
          - name: Validate that an operations team exists
            description: Validate that an operations team exists with the name provided.
            possible_errors:
            - operations_team_name_does_not_exist
      required:
      - external_account_number
      - import_supplier_code
      x-validators:
      - name: Validate an <code>AccountImportProcess</code> exists
        description: Validate that for the given <code>external_account_number</code> and <code>import_supplier_code</code> an <code>AccountImportProcess</code> exists.
        possible_errors:
        - import_process_does_not_exist
      - name: Validate auto allocation of operations team
        description: Validate that operations_team_name is provided if auto allocation is not configured.
        possible_errors:
        - operations_team_provided_when_using_auto_allocation
        - operations_team_should_be_provided
    ElectricityAgreement:
      type: object
      properties:
        agreed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: <p>The datetime the agreement was agreed at.</p>
        bespoke_tariff_rates:
          type: array
          items:
            $ref: '#/components/schemas/ElectricityBespokeElectricityTariffRate'
          description: <p>List of bespoke tariff rates applicable to this agreement. Usually only relevant for business accounts.</p>
          x-validators:
          - name: Validate that all bespoke tariff rates are unique
            description: Ensure that there are no duplicate bespoke tariff rates provided.
            possible_errors:
            - duplicate_bespoke_rates
        business_contract_identifier:
          type:
          - string
          - 'null'
          description: <p>The identifier of the business contract this agreement should be linked to.</p>
        characteristics:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProductCharacteristic'
          description: <p>Characteristics of the agreed product that the customer has chosen.</p>
          x-validators:
          - name: Validate that each child has unique values for the <code>⁨code⁩</code> field
            description: Validate that each child has unique values for the <code>⁨code⁩</code> field.
            possible_errors:
            - children_with_duplicate_values
        effective_from:
          type: string
          format: date
          description: <p>The date from which the agreement is effective (inclusive), i.e. the agreement starts on the midnight of this date, such that this date becomes the first day covered by this agreement.</p>
        effective_to:
          type:
          - string
          - 'null'
          format: date
          description: <p>The date to which the agreement is effective (exclusive), i.e. the agreement will end on the midnight of this date, such that the previous day is the last day covered by this agreement.</p>
        intermediary:
          allOf:
          - $ref: '#/components/schemas/AgreementIntermediaryDetails'
          description: <p>Details about the intermediary relationship for this agreement. When provided, an intermediary link will be created between the agreement and the portfolio, establishing a business intermediary relationship.</p>
        rate_overrides:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RateOverride'
          description: <p>Agreement rate overrides.</p>
        rates_agreed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: <p>The datetime the rates were agreed at.</p>
        tariff_code:
          type: string
          description: <p>The code for the agreement tariff. Must match an existing tariff code of an active product.</p>
          x-validators:
          - name: Validate electricity tariff exists
            description: Validate that the provided tariff code has an existing electricity tariff in Kraken.
            possible_errors:
            - tariff_code_not_found
      required:
      - effective_from
      - tariff_code
      x-validators:
      - name: Validate <code>⁨effective_to⁩</code> not before <code>⁨effective_from⁩</code>
        description: Validates that <code>⁨effective_to⁩</code>, if given, is on or later than <code>⁨effective_from⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
      - name: Validate that the rate bands given in the rate overrides are valid for the product code
        description: Validate that the rate bands given in the rate overrides exist for the agreement's product.
        possible_errors:
        - invalid_period
        - rate_band_does_not_exist
      - name: Validate that either <code>register_id</code> or <code>rate_type</code> are provided for bespoke tariff rate registers
        description: Ensure that all registers associated with a bespoke tariff rate have got at least a <code>register_id</code> or a <code>rate_type</code> set.
        possible_errors:
        - no_register_id_or_rate_type_provided_for_bespoke_elec_rate
      - name: Validate effective to provided for end dated electricity product
        description: Validate that the effective to date is provided for an electricity product that has an end date.
        possible_errors:
        - open_ended_agreement_for_end_dated_product
    PaymentSchedule:
      type: object
      properties:
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          default: '0.00'
          description: <p>The amount of the payment schedule.</p>
        balance_threshold:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: <p>The account balance threshold that triggers a payment for balance-triggered schedules.</p>
        day_of_month:
          type:
          - integer
          - 'null'
          description: <p>The day of the month the payment is due.</p>
          x-validators:
          - name: Validate payment day for payment schedule
            description: Validate that the payment day for a payment schedule is between the configured minimum and maximum allowed payment days in Kraken.
            possible_errors:
            - invalid_payment_day_for_payment_schedule
        debt_repayment_element:
          type: string
          format: decimal
          pattern: ^-?\d{0,8}(?:\.\d{0,2})?$
          description: <p>The contribution to the <code>amount</code> in addition to the regular fixed schedule payment amount.</p><p><code>debt_repayment_element = amount -</code> fixed schedule amount.</p>
        debt_repayment_end_date:
          type: string
          format: date
          description: <p>The date on which the debt repayment will no longer be taken in addition to the regular payment.</p>
        delay_days:
          type: integer
          description: <p>The delay days to configure for the schedule. This configures how many days are delayed when a payment is trigged from a BILL triggered schedule and is therefore only compatible if the trigger = BILL. This is required only if delay_strategy is set.</p>
        delay_strategy:
          enum:
          - FIXED
          - WORKING_DAYS
          type: string
          x-spec-enum-id: 65a4ec07dce09466
          description: <p>The delay days strategy for the schedule. This configures how many days are delayed when a payment is trigged from a BILL triggered schedule and is therefore only compatible if the trigger = BILL</p>
          x-enum-descriptions:
            FIXED: Fixed
            WORKING_DAYS: Working Day
        end_date:
          type:
          - string
          - 'null'
          format: date
          description: <p>The end date for the payment schedule.</p>
        exempt_from_payment_adequacy:
          type: boolean
          default: false
          description: <p>Whether the payment schedule is exempt from payment adequacy or not.</p>
        frequency:
          enum:
          - MONTHLY
          - QUARTERLY
          - WEEKLY
          - FORTNIGHTLY
          - FOUR_WEEKLY
          - ANNUALLY
          - SIX_MONTHLY
          type: string
          x-spec-enum-id: 356d8ee33fff0f54
          description: <p>The frequency of the payment schedule (e.g., WEEKLY, MONTHLY).</p>
          x-enum-descriptions:
            MONTHLY: Monthly
            QUARTERLY: Quarterly
            WEEKLY: Weekly
            FORTNIGHTLY: Fortnightly
            FOUR_WEEKLY: Four-weekly
            ANNUALLY: Annually
            SIX_MONTHLY: Six-monthly
        instalments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
          description: <p>The instalments of the payment schedule.</p>
          x-validators:
          - name: Validate that each child has a unique combination of values for the <code>⁨payment_date, payment_type⁩</code> fields
            description: Validate that each child has a unique combination of values for the <code>⁨payment_date, payment_type⁩</code> fields.
            possible_errors:
            - children_with_duplicate_values
        is_debt_repayment_plan:
          type: boolean
          default: false
          description: <p>Whether the payment schedule is a debt repayment plan or not.</p>
        ledger_code:
          type: string
          description: <p>The code of the relevant Kraken ledger type for the payment schedule.</p>
          x-validators:
          - name: Validate ledger code
            description: Validates that the ledger code provided in the payload matches an available ledger type in Kraken.
            possible_errors:
            - ledger_code_does_not_exist
        means:
          enum:
          - DD
          - CARD
          - MANUAL
          - PAYMENT_SLIP
          type: string
          x-spec-enum-id: 07a5f0f09deee145
          description: <p>The means of the payment schedule.</p>
          x-enum-descriptions:
            DD: Direct Debit
            CARD: Card
            MANUAL: Manual Payment
            PAYMENT_SLIP: Payment Slip
        paid_by:
          enum:
          - CUSTOMER
          - FUEL_DIRECT
          type: string
          x-spec-enum-id: 30fbefccd8f9d980
          default: CUSTOMER
          description: <p>Who is paying the payments on the schedule.</p>
          x-enum-descriptions:
            CUSTOMER: CUSTOMER
            FUEL_DIRECT: FUEL_DIRECT
        start_date:
          type: string
          format: date
          description: <p>The start date for the payment schedule.</p>
        trigger:
          enum:
          - PLAN
          - REGULAR
          - REGULAR_PLAN
          - BALANCE
          - BILL
          type: string
          x-spec-enum-id: 70fceded34e99681
          description: <p>The trigger for the payment schedule. See choices for more details.</p><p>If not provided we create a  fixed schedule, i.e.  trigger  = REGULAR. A BILL triggered schedule creates a ledger balance clearing payment when a statement or invoice is issued.</p>
          x-enum-descriptions:
            PLAN: Planned collection
            REGULAR: Regular collection
            REGULAR_PLAN: Regular planned collection
            BALANCE: Balance below
            BILL: Bill issued
      required:
      - means
      - start_date
      x-validators:
      - name: Validate <code>⁨end_date⁩</code> not before <code>⁨start_date⁩</code>
        description: Validates that <code>⁨end_date⁩</code>, if given, is on or later than <code>⁨start_date⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
      - name: Validate fixed payment schedule has amount
        description: Validates that a fixed payment schedule has an non zero amount provided in the payload. A fixed schedule is defined as a payment schedule with a trigger that is not type BILL.
        possible_errors:
        - zero_payment_schedule_amount
      - name: Validate regular payment schedule frequency provided
        description: Validates that a fixed regular payment schedule has a frequency provided in the payload.
        possible_errors:
        - fixed_payment_schedule_missing_frequency
      - name: Validate payment schedule balance threshold provided
        description: Validates that a payment schedule with a balance trigger has a balance threshold provided in the payload. This balance threshold is the amount the ledger balance must drop below to trigger a payment.
        possible_errors:
        - balance_triggered_schedule_missing_threshold
      - name: Validate debt repayment end date provided
        description: Validates that a debt repayment end date is provided in the payload if a debt repayment element is provided.
        possible_errors:
        - debt_repayment_missing_end_date
      - name: Validate debt repayment end date is not later than schedule end date
        description: Validates that a debt repayment end date is not later than  the payment schedule end date if both are provided.
        possible_errors:
        - debt_repayment_end_date_after_schedule_end_date
      - name: Validate exempt from payment adequacy is applied only to regular schedule
        description: Validates that only a regular payment schedule is marked as exempted from payment adequacy, so as to create a fixed regular payment schedule.
        possible_errors:
        - invalid_payment_schedule_to_exempt_from_payment_adequacy
      - name: Validate fixed payment schedule has payment day
        description: Validates that a fixed payment schedule has a day of month in the payload. A fixed schedule is defined as a payment schedule with a trigger of type REGULAR.
        possible_errors:
        - fixed_payment_schedule_missing_day_of_month
      - name: Validate instalments is provided if trigger is PLAN
        description: Validate that the instalment field is not empty if payment schedule trigger is PLAN.
        possible_errors:
        - payment_instalments_not_provided
      - name: Validate instalment payment amounts sum to total amount
        description: Validate instalment payment amounts sum to total amount given.
        possible_errors:
        - payment_instalments_do_not_sum_to_total
      - name: Validate instalment payment date is within payment schedule active period
        description: Validate instalment payment date is within the period between start date and end date provided.
        possible_errors:
        - payment_instalments_date_outside_of_payment_schedule_active_period
      - name: Validate that the delayer days is set if delayer strategy is set
        description: Validate that the delayer days is set if delayer strategy is set
        possible_errors:
        - payment_schedule_delay_must_have_bill_trigger
        - payment_schedule_delay_strategy_missing_delay_days
      - name: Validate that the payment amount for fixed payment schedules is within the minor currency unit range of ⁨0⁩ - ⁨upper_bound⁩
        description: Validate that the payment amount for any fixed payment schedule is within the major currency unit range of ⁨lower_limit⁩ - ⁨UNLIMITED⁩.
        possible_errors:
        - fixed_payment_schedule_amount_out_of_range
      - name: Standalone payment request method code is unexpected
        description: Validates that standalone_payment_request_method_code is only provided for MANUAL payment schedules.
        possible_errors:
        - standalone_payment_request_method_code_unexpected
      - name: Standalone payment request method code is valid
        description: Validates that standalone_payment_request_method_code matches a registered method.
        possible_errors:
        - standalone_payment_request_method_code_invalid
    GasMeterPoint:
      type: object
      properties:
        supply_type:
          enum:
          - ELECTRICITY
          - GAS
          type: string
          x-spec-enum-id: 38ea23eee479fe46
          description: <p>The supply type of this meter point.</p>
          x-enum-descriptions:
            ELECTRICITY: Electricity
            GAS: Gas
        agreements:
          type: array
          items:
            $ref: '#/components/schemas/GasAgreement'
          description: <p>List of agreements linked to the supply point.</p>
        aq_history:
          type: array
          items:
            $ref: '#/components/schemas/GasAnnualQuantity'
          description: <p>History of gas Annual Quantity (AQ) entries for this meter point. It's expected that at least one AQ entry will be provided for the current period if there's an active gas meter. Gaps and overlapping on the given entry dates will raise validation errors.</p>
          x-validators:
          - name: Validate that at most one open-ended AQ entry is present in the AQ history
            description: Ensure that there are not multiple open-ended Annual Quantity (AQ) entries in the AQ History for a gas meter point.
            possible_errors:
            - multiple_open_ended_aqs_in_meterpoint_aq_history
          - name: Validate that there are no gaps in the AQ history
            description: Validate that, where multiple entires are present in the AQ history, each entry starts (<code>effective_from</code>) a day after it's predecessor's end (<code>effective_to</code>).
            possible_errors:
            - gaps_or_overlaps_in_aq_history
        ccl_exemptions:
          type: array
          items:
            $ref: '#/components/schemas/EnergyTaxExemption'
          description: <p>A list of CCL exemptions for the meter point. Must only be provided for business accounts.</p>
          x-validators:
          - name: Validate tax exemption end dates
            description: Validate that there is only one open ended tax exemption.
            possible_errors:
            - multiple_open_ended_tax_exemptions
          - name: Validate no overlapping tax exemptions
            description: Validate any tax exemptions are not overlapping.
            possible_errors:
            - overlapping_effective_dates_for_tax_exemptions
        dr_in_progress:
          type:
          - boolean
          - 'null'
          description: <p>Whether a disputed reading (DR) is in progress for this meter point. This should be resolved before importing the account, and a validation error will be raised if this field is set to <code>true</code>.</p>
          x-validators:
          - name: Validate that no disputed reads are in progress
            description: The validation process will be stopped if a disputed read is in progress.
            possible_errors:
            - disputed_read_in_progress
        et_in_progress:
          type:
          - boolean
          - 'null'
          description: <p>Whether an erroneous transfer (ER) is in progress for this meter point. This should be resolved before importing the account, and a validation error will be raised if this field is set to <code>true</code>.</p>
          x-validators:
          - name: Validate that no erroneous transfers are in progress
            description: The validation process will be stopped if an erroneous transfer is in progress.
            possible_errors:
            - erroneous_transfer_not_in_progress
        identifier:
          type: string
          description: <p> The unique identifier for the supply point.</p>
          x-validators:
          - name: Validate the supply point identifier
            description: Validate that the supply point identifier in the payload is valid for the territory that the account is importing in.
            possible_errors:
            - invalid_supply_point_identifier
        last_billed_to_date:
          type: string
          format: date
          description: <p>Date up to which consumption has been billed on the supply point.</p><p>If the supply point has never been billed before, this should be the supply start date for the supply point and Kraken will bill from then.</p><p>If the supply point has been billed before, this typically represents the date of the reading that was last charged to. Kraken will then start to bill from this point.</p><p>This date is inclusive. If the equivalent date in the source system is exclusive make sure to add a day to the value before passing to Kraken.</p>
        ldz:
          enum:
          - SC
          - LC
          - LO
          - LS
          - LT
          - LW
          - 'NO'
          - NE
          - NW
          - WM
          - EM
          - EA
          - WN
          - WS
          - NT
          - SO
          - SE
          - SW
          - ''
          type: string
          x-spec-enum-id: 8f2ab9146991510c
          description: <p>The Local Distribution Zone code for a gas meter point. This will be superseded by any data received from industry at a later date, but allows faster progress in the short term if provided.</p>
          x-enum-descriptions:
            SC: Scotland
            LC: Scotland Campbeltown
            LO: Scotland Oban
            LS: Scotland Stranraer
            LT: Scotland Thurso
            LW: Scotland Wick
            'NO': Northern
            NE: North East
            NW: North West
            WM: West Midlands
            EM: East Midlands
            EA: East Anglia
            WN: Wales North
            WS: Wales South
            NT: North Thames
            SO: Southern
            SE: South East
            SW: South West
            ? ''
            : ''
        mam_to_appoint:
          type:
          - string
          - 'null'
          description: <p>The meter asset manager (MAM) to appoint for the meter point. This value should only be provided for an on-market switch.</p>
          maxLength: 3
          x-validators:
          - name: Validate that the market participant exists
            description: Validate that the market participant ID passed in the payload exists in Kraken.
            possible_errors:
            - market_participant_not_found
            - supply_type_not_recognised
        meters:
          type: array
          items:
            $ref: '#/components/schemas/GasMeter'
          description: <p>A list of active and exchanged meters on the meter point.</p>
        mpid:
          type: string
          description: <p>The Market Participant ID (MPID) for this meter point.</p>
          maxLength: 4
          x-validators:
          - name: Validate that the market participant exists
            description: Validate that the market participant ID passed in the payload exists in Kraken.
            possible_errors:
            - market_participant_not_found
            - supply_type_not_recognised
        regular_reading_cycle:
          enum:
          - CYYY
          - CYSS
          - CYQS
          - CYLM
          - CYSM
          - CYNM
          type: string
          x-spec-enum-id: d57930394e6392a7
          description: <p>The regular reading cycle of the meter point, as it should be passed to agents via flows.</p>
          x-enum-descriptions:
            CYYY: No read required
            CYSS: 6-monthly
            CYQS: Quarterly
            CYLM: Large monthly
            CYSM: Small monthly
            CYNM: Non-monthly
        shipper_mpid:
          type: string
          description: <p>The shipper market participant ID for this meter point.</p>
          maxLength: 3
          x-validators:
          - name: Validate that the market participant exists
            description: Validate that the market participant ID passed in the payload exists in Kraken.
            possible_errors:
            - market_participant_not_found
            - supply_type_not_recognised
        smart_refusal_interest:
          allOf:
          - $ref: '#/components/schemas/EnergySmartRefusalInterest'
          description: <p>Details on the customer's interest in installing a smart meter for this meter point.</p>
        smart_site_visit:
          type: array
          items:
            $ref: '#/components/schemas/EnergySmartSiteVisit'
          description: <p>A list of site visit appointments for installing a smart meter for the meter point.</p>
        supply_end_date:
          type:
          - string
          - 'null'
          format: date
          description: <p>The supply start date for this meter point. See <code>supply_periods</code> as an alternative.</p>
        supply_start_date:
          type: string
          format: date
          description: <p>The supply end date for this meter point. See <code>supply_periods</code> as an alternative.</p>
        vat_exemptions:
          type: array
          items:
            $ref: '#/components/schemas/EnergyTaxExemption'
          description: <p>A list of VAT exemptions for the meter point. Must only be provided for business accounts.</p>
          x-validators:
          - name: Validate tax exemption end dates
            description: Validate that there is only one open ended tax exemption.
            possible_errors:
            - multiple_open_ended_tax_exemptions
          - name: Validate no overlapping tax exemptions
            description: Validate any tax exemptions are not overlapping.
            possible_errors:
            - overlapping_effective_dates_for_tax_exemptions
      required:
      - identifier
      - mpid
      - shipper_mpid
      - supply_start_date
      - supply_type
      x-validators:
      - name: Validate <code>⁨supply_end_date⁩</code> not before <code>⁨supply_start_date⁩</code>
        description: Validates that <code>⁨supply_end_date⁩</code>, if given, is on or later than <code>⁨supply_start_date⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
      - name: Validate agreements do not start before supply start date
        description: Validate that agreements do not start before the supply point's supply start date, if provided.
        possible_errors:
        - agreement_start_date_before_supply_start_date
      - name: Validate that dummy meter exchanges are valid
        description: Ensure that if multiple meters with shared serial numbers are provided that they are dummy meter exchanges. Dummy meters are only valid if they are commissioned 1 day after a meter with the same serial number was decommissioned. This validates that the appropriate commission and decommission dates are appropriate and that the DMEX meter hasn't been marked as a non-dummy meter.
        possible_errors:
        - multiple_non_dmex_meters_with_serial_number
    GasPrepayDebtRepaymentOptions:
      type: object
      properties:
        weekly_max:
          type: string
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,10})?$
          description: <p>The maximum amount, in pounds, that a customer needs to pay towards their debt each week. Must be positive. Defaults to "0.0".</p>
        weekly_min:
          type: string
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,10})?$
          description: <p>The minimum amount, in pounds, that a customer needs to pay towards their debt each week. Must be positive. Defaults to "0.0".</p>
    EnergyTaxExemption:
      type: object
      properties:
        effective_from:
          type: string
          format: date
          description: <p>Date this exemption entry is valid from.</p>
        effective_to:
          type: string
          format: date
          description: <p>Date this exemption entry is valid to.</p>
        rate:
          type: string
          format: decimal
          pattern: ^-?\d{0,1}(?:\.\d{0,2})?$
          description: <p>The normalised proportion of energy use on the meter point that qualifies for the tax exemption. (e.g. 1.0 for 100% exemption).</p>
      required:
      - effective_from
      - rate
      x-validators:
      - name: Validate <code>⁨effective_to⁩</code> not before or equal to <code>⁨effective_from⁩</code>
        description: Validates that <code>⁨effective_to⁩</code>, if given, is strictly later than ⁨effective_from⁩.
        possible_errors:
        - start_date_same_as_end_date
    Note:
      type: object
      properties:
        body:
          type: string
          description: <p>The body of the note. Should include who/what created the note if this is required.</p>
        created_at:
          type: string
          format: date-time
          description: <p>The date and time the note was created.</p>
        document_paths:
          type: array
          items:
            $ref: '#/components/schemas/NoteDocument'
          description: <p>A list of relative paths in S3 for documents to be attached to the note.</p><p>More details on document path parameters can be found <a href="/rest/guides/data-import/basics#document-paths">here</a>.</p>
        external_id:
          type: string
          description: <p>Unique identifier for this note to avoid duplicate entries.</p>
        is_archived:
          type: boolean
          description: <p>If set to true, this will archive the note in the Kraken account support site page.</p>
        is_pinned:
          type: boolean
          description: <p>If set to true, this will pin the note to the top of the Kraken account support site page.</p>
        unpin_at:
          type: string
          format: date-time
          description: <p>When the pinned note should be unpinned. Has to be later than <code>created_at</code> if this is provided. Has no effect if the note is not pinned.</p>
      x-validators:
      - name: Validate note body or document paths provided
        description: Validate that at least a note body or document paths are provided.
        possible_errors:
        - note_body_or_document_path_not_found
      - name: Validate note created at is equal to or before unpin at
        description: Validate that the note's created at date is equal to or before the unpin at date if both are provided.
        possible_errors:
        - note_unpin_at_earlier_than_creation_date
    PartnerOrganisation:
      type: object
      properties:
        organisation_number:
          type: string
          description: <p>Identifier of the partner organisation.</p>
          maxLength: 128
          x-validators:
          - name: Validate <code>organisation_number</code>
            description: Validate that the given <code>organisation_number</code> has a corresponding organisation registered in the database.
            possible_errors:
            - partner_organisation_does_not_exist
        role:
          x-spec-enum-id: 4f53cda18c2baa0c
          description: <p>The type of role the partner organisation plays.</p>
          x-comment: Choices for this field are dynamic, once appropriate values have been configured they will be rendered here.
        source_reference_s3_key:
          type: string
          description: <p>The s3 key of the partner file attachment that governs this organisation relationship.</p>
        valid_from:
          type: string
          format: date-time
          description: <p>The beginning of the validity period of this organisation relationship.</p>
        valid_to:
          type: string
          format: date-time
          description: <p>The end of the validity period of this organisation relationship.</p>
      required:
      - organisation_number
      - role
      - valid_from
      - valid_to
      x-validators:
      - name: Validate <code>⁨valid_to⁩</code> not before <code>⁨valid_from⁩</code>
        description: Validates that <code>⁨valid_to⁩</code>, if given, is on or later than <code>⁨valid_from⁩</code>.
        possible_errors:
        - start_date_later_than_end_date
    PaymentPlanPaymentAmountComponent:
      type: object
      properties:
        amount:
          type: integer
          minimum: 0
          description: <p>The amount of the component.</p>
        component_type:
          type: string
          description: <p>The type of the component. The options will depend on the strategy so please discuss with the tech team to determine the correct values.</p>
      required:
      - amount
      - component_type
    Gbr-electricity.meter-rate-profileCharacteristic:
      type: object
      properties:
        code:
          enum:
          - gbr-electricity.meter-rate-profile
          type: string
          x-spec-enum-id: 28916dd92444330c
          description: <p>The code for the product's characteristic.</p>
          x-enum-descriptions:
            gbr-electricity.meter-rate-profile: gbr-electricity.meter-rate-profile
        value:
          enum:
          - flat_rate
          - multi_rate
          type: string
          x-spec-enum-id: d91192778ca62ec1
          description: <p>The value for the product's characteristic.</p>
          x-enum-descriptions:
            flat_rate: flat_rate
            multi_rate: multi_rate
      required:
      - code
      - value
    TaxItem:
      type: object
      properties:
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,10})?$
          description: <p>The amount of tax. Provide this amount in the currency's major unit rather than its minor unit (for example euros rather than cents, or pounds rather than pence). These examples are illustrative only; the same applies to any currency that has a major and minor unit. For currencies without a minor unit, such as the Japanese yen, pass the value as-is.</p>
        params:
          type: object
          default: {}
          description: <p>Additional parameters for the tax item.</p>
        rate:
          type: string
          format: decimal
          pattern: ^-?\d{0,15}(?:\.\d{0,5})?$
          description: <p>The rate at which tax has been applied.</p>
        tax_type:
          type: string
          description: <p>The type of tax.</p>
        unit_type:
          enum:
          - PROPORTION
          - CURRENCY_PER_KWH
          type: string
          x-spec-enum-id: c3c821f5b0c08a37
          description: <p>The tax unit type.</p>
          x-enum-descriptions:
            PROPORTION: Proportion
            CURRENCY_PER_KWH: Currency Per Kwh
        value_taxed:
          type: string
          format: decimal
          pattern: ^-?\d{0,15}(?:\.\d{0,5})?$
          description: <p>The value that the tax is applied to.</p>
      required:
      - amount
      - rate
      - tax_type
      - unit_type
      - value_taxed
    EnergyCredit:
      type: object
      properties:
        type:
          enum:
          - CHARGE
          - PAYMENT
          - REPAYMENT
          - CREDIT
          - SUPPLY_CHARGE
          type: string
          x-spec-enum-id: 06d6aba5cee32f9a
          description: <p>The type of the transaction.</p>
          x-enum-descriptions:
            CHARGE: Charge
            PAYMENT: Payment
            REPAYMENT: Repayment
            CREDIT: Credit
            SUPPLY_CHARGE: Supply Charge
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,10}(?:\.\d{0,10})?$
          description: <p>The amount of the transaction. e.g. if the customer has a consumption charge worth 23.43, this equates to a transaction of type <code>CHARGE</code> of 23.43. Payments and repayments must be positive numbers. Generally charges and credits are also positive, but may be negative to represent reversed charges or credits, or if an incorrect estimated reading has resulted in a negative consumption charge. Provide this amount in the currency's major unit rather than its minor unit (for example euros rather than cents, or pounds rather than pence). These examples are illustrative only; the same applies to any currency that has a major and minor unit. For currencies without a minor unit, such as the Japanese yen, pass the value as-is.</p>
        billing_document_identifier:
          type: string
          description: <p>The identifier from the source system that groups a set of transactions together. This will be used in Kraken during the migration of historical statement transactions to create an archived billing document. For now this field is only required if <code>HISTORICAL_STATEMENT_REQUIRE_SINGLE_BILLING_DOCUMENT_IDENTIFIER</code> settings is ON and is meant for only <code>historical_statements_transactions</code>. Passing this to other transactions like <code>current_statement_transactions</code> or <code>transactions_in_open_settlement_period</code> will raise validation error.</p>
        display_note:
          type: string
          description: <p>The customer-facing note that can be displayed in a statement or email to the customer.</p>
        note:
          type: string
          description: <p>Any additional notes about the transaction.</p>
        reason:
          enum:
          - BALANCE_ADJUSTMENT
          - BALANCE_TRANSFER
          - BANK_TRANSFER
          - CONTRIBUTION_TAX_FREE
          - CUSTOMER_SERVICE_GESTURE
          - DEPOSIT
          - DIRECT_DEBIT_DISCOUNT
          - JOINING_REWARD
          - LOYALTY_REWARD
          - REVERSED_ACCOUNT_CHARGE
          - CUSTOMER_REIMBURSEMENT
          - DATA_IMPORT_BALANCE_TRANSFER
          - DEBIT_BALANCE_TRANSFER
          - GOODWILL_PAYMENT
          - IMPORTED_CREDIT
          - SUPPLEMENTARY_LEDGER_BALANCE_TRANSFER
          - WRITE_OFF_PAST_BILLABLE_AUTOMATED
          - WRITE_OFF_BACK_BILLING
          - WRITE_OFF_NEGLIGIBLE_VALUE
          - WRITE_OFF_UNRECOVERABLE_DEBT
          - WRITE_OFF_PAST_BILLABLE
          - WRITE_OFF_RECOVERY_DISCOUNT
          - WRITE_OFF_BANKRUPTCY
          - WRITE_OFF_DRO
          - WRITE_OFF_IVA
          - WRITE_OFF_DECEASED
          - WRITE_OFF_MISSED_PAYMENT_DELETION
          - UNLIKELY_TO_RECOVER_WRITE_OFF
          - REFERRING_ACCOUNT_REFERRAL_REWARD
          - REFERRED_ACCOUNT_REFERRAL_REWARD
          - PREPAY_BALANCE_ADJUSTMENT
          - PREPAY_IMBALANCE_WRITE_OFF
          - PREPAY_MIGRATION_IMBALANCE
          - ACCURACY_TEST_ADJUSTMENT
          - ADDITIONAL_SOP_PAYMENT_APPOINTMENTS
          - ADDITIONAL_SOP_PAYMENT_CUSTOMER_NOT_RETURNED
          - ADDITIONAL_SOP_PAYMENT_ELECTRICITY_SWITCH_DELAYED
          - ADDITIONAL_SOP_PAYMENT_ERRONEOUS_TRANSFER
          - ADDITIONAL_SOP_PAYMENT_ET_COMMS_OVERDUE
          - ADDITIONAL_SOP_PAYMENT_ET_GAIN_ACCEPTED
          - ADDITIONAL_SOP_PAYMENT_ET_GAIN_UNRESOLVED
          - ADDITIONAL_SOP_PAYMENT_ET_LOSS_UNRESOLVED
          - ADDITIONAL_STANDARD_PAYMENT
          - ADJUSTED_CREDIT_TO_ALLOW_REFUND
          - ADJUSTMENT_ON_RETURNED_DEPOSIT
          - BALANCE_TRANSFER_FOR_FINAL_BILLED_ACCOUNT
          - CHEQUE_PAYMENT_RECEIVED
          - CLOSED_REVERSION
          - DEBT_ASSIGNMENT_LOSING_SUPPLIER
          - DEPOSIT_REFUND
          - DIRECT_DEBIT_BANK_CHARGE_MAY
          - DISC_WARM_HOME_DISCOUNT
          - DISPUTED_CARD_PAYMENTS
          - ECONOMY_7_DIFFERENCE
          - ERRONEOUS_TRANSFER_REFUND
          - EXIT_FEE_REFUND
          - EXPORT_TARIFF_PAYMENT
          - EXTERNAL_REFERRAL_CREDIT
          - FEED_IN_TARIFF_PAYMENT
          - GO_CARDLESS_CHARGEBACK_CANCELLED
          - GSS_AFFECT
          - GSS_FAILURE
          - GSS_FAILURE_MOP
          - HONOURED_BANK_CHARGES
          - INCOMING_PAYMENT_GO_CARDLESS
          - MANAGEMENT_WAIVED_FEES
          - MARKET_RESEARCH_CLUB_REWARD
          - MISSED_SAVINGS
          - OFFSET
          - PAYMENT_BANK_ACCOUNT
          - PAYMENT_BPAY
          - PAYMENT_CENTREPAY
          - PAYMENT_CHEQUE
          - PAYMENT_CREDIT_CARD
          - PAYMENT_TRANSFER_FROM_SAP
          - PREPAY_DEBT_ADJUSTMENT
          - QLD_ASSET_OWNERSHIP_DIVIDEND
          - RECEIVED_VIA_CREDIT_STYLE
          - REFERRALCANDY_INCENTIVE
          - REINSTATED_DIRECT_DEBIT
          - RETURNED_BUSINESS_ADVANCE_PAYMENT
          - RETURNED_BUSINESS_PREPAYMENT
          - REVERSE_ENERGY_CHARGE
[...]
